@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .breadcrumb-arrow-left {
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);
  }

   .breadcrumb-arrow-center {
        clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);

  }

  .breadcrumb-arrow-right {
        clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 10% 50%);

  }
}